body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.business-card {
    position: relative;
    width: 450px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.business-card.show-back {
    transform: rotateX(180deg);
}

.front {
    transform: translate(-50%, -50%);
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}

.back {
    transform: rotateX(180deg) translate(-50%, -50%);
    position: absolute;
    width: 90%;
    height: 90%;
    top: -50%;
    left: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}


.front::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background: radial-gradient(circle, rgba(169, 169, 169, 0.5) 0%, rgba(169, 169, 169, 0.1) 100%);
    animation: pulse 2s infinite;
    z-index: -1;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.back {
    transform: rotateX(180deg) translate(-50%, -50%);
}

.business-card h1 {
    margin-bottom: 5px;
    color: #333333;
}

.contact-container {
    margin-top: 10px;
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    color: white;
}

.contact-container p {
    margin: 5px 0;
}

.contact-container p.address {
    font-weight: bold;
}
